// Width
$min-width            : 375px;
$notebook             : 1024px;
$container-width      : 1770px;

//Typography
$font-josefin-sans    : 'Josefin Sans', sans-serif;
$font-aleo            : 'Aleo', sans-serif;
$line-height          : 26px;


