// Width
$min-width            : 375px;
$mobile-max           : 550px;
$notebook             : 1024px;
$notebook-max         : 1500px;
$container-width      : 1770px;

//Typography
$font-primary         : 'Josefin Sans', sans-serif;
$font-secondary       : 'Aleo', sans-serif;
$line-height          : 26px;


